body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}

.demoHeaders {
    margin-top: 2em;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

#icons {
    margin: 0;
    padding: 0;
}

#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}

select {
    width: 200px;
}

.split {
    padding-top: 15px;
}

.field {
    margin-left: 10px;
    padding: 7px;
    font-family: "Trebuchet MS", sans-serif;
    border: 1px solid #cccccc;
    outline: none;
}

.menu-page__user-record-field {
    min-width: 300px;
    max-width: 400px;
    min-height: 150px;
    max-height: 250px;
}

.field:focus {
    margin-left: 10px;
    padding: 7px;
    font-family: "Trebuchet MS", sans-serif;
    border: 1px solid #666666;
    outline: none;
}

.move {
    color: #007fff;
    cursor: pointer;
}

.move:hover {
    color: #2c60ff;
}

.record-class {
    padding: 15px;
    background: #cccccc;
}

.main-center-box {
    position: absolute;
    width: 800px;
    padding: 35px;
    left: 20%;
    z-index: 5;
    background: white;
    border: 2px solid #CCCCCC;
    border-radius: 15px;
}